.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5rem;
  text-align: left;
  gap: 1rem; /* spacing between elements */
}

.hero p,
.hero h1,h2 {
  margin: 0; /* remove default spacing */
}

.content {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: flex-start; /* Align items to the start */
  width: 100%; /* Ensure it takes up full width */
  gap: 20px; /* Space between the text and the image */
}

.text {
  flex: 1; /* Allow text div to take up available space */
  max-width: 80%; /* Limit the width of the text area */
}

.image-container {
  margin-right: auto; /* This aligns the image to the right */
  border: solid;
}

.image {
  max-width: 60%; /* Limit the image's width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px;
  box-shadow: 10px 10px #d3ae6b; /* Initial box-shadow */
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Animate box-shadow smoothly */
}

.image:hover {
  box-shadow: 15px 15px #d3ae6b;
  transform: translateX(-5px);
}

.left {
  width: 80rem;
}